<div class="scenario-container">
  <h1>TP : Bienvenue en 2240</h1>

  <div class="highlight">
    <p><strong>Ah, vous vous réveillez enfin ?</strong></p>
    <p>
      Désolé pour l’accueil un peu brusque, mais il n’y a pas trop le temps de
      vous expliquer. <strong>Bienvenue en 2240</strong> ! Oui, vous avez bien
      entendu.
    </p>
    <p>
      Bonne nouvelle : l’humanité a accédé à l’immortalité au cours du 22ᵉ
      siècle. Mauvaise nouvelle : on a oublié de vous réveiller à temps. Cela
      fait quelques siècles que le système de retraite a disparu, et vos
      compétences en <strong>analyse et visualisation de données</strong> sont
      grandement nécessaires.
    </p>
  </div>
  <h2>Les données fournies</h2>
  <p>
    Vous travaillerez avec un fichier de données au format
    <strong>JSON</strong>. Ce fichier contient des milliers d'entrées
    correspondant à des voyages réalisés en janvier 2240. Chaque entrée
    représente les détails d'un passager pour un voyage spatial donné.
  </p>
</div>
